/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

body {
  font-family: 'Oxygen', sans-serif;
}
.bg {
  background: url('colors.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bday-name {
  font-size: 3em;
  color: #336699;
  line-height: 1.3em;
}
#bday-age {
  font-size: 1.5em;
  line-height: 1.2em;
}
.bday-link {
  font-size: 0.8em;
}
.bday-link :hover {
  text-decoration: none;
  background-color: transparent;
}
h1 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin: 20px;
  color: #444;
}
.panel {
  background-color: transparent !important;
  border-width: 0 !important;
  text-align: center;
}
.panel-footer {
  font-size: 0.9em;
}
.translucent {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}