// Place all the styles related to the birthdays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bday-name {
  font-size: 3em;
  color: #336699;
  line-height: 1.3em;
}
#bday-age {
  font-size: 1.5em;
  line-height: 1.2em;
}
.bday-link {
  font-size: 0.8em;
}
.bday-link :hover {
  text-decoration: none;
  background-color: transparent;
}
h1 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  margin: 20px;
}
.panel {
  border-radius: 10px !important;
  border-width: 0 !important;
  text-align: center;
}
